h1.main-header {
    display: inline;
}

.header-link-container {
    float: right;
    display: inline-block;
}

.preserve-line-breaks {
    white-space: pre-wrap;
}

.article-card {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
