<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Articles site</span>
                <div class="justify-content-start">
                    {% if current_user.is_authenticated %}
                        {% if current_user.avatar %}
                            {% set filename = url_for(
                            "static",
                            filename=("img/avatars/" + current_user.avatar)
                                    ) %}
                        {% else %}
                            {% set filename = url_for("static", filename="img/default_avatar.png") %}
                        {% endif %}
                        <span class="header_link_container">
                            <a href="/logout" class="navbar-brand">
                                <img src="{{ filename }}" alt="" width="48" height="48">
                                @{{ current_user.name }}
                            </a>
                        </span>
                    {% else %}
                        <a href="/register" class="btn btn-outline-primary">Зарегистрироваться</a>
                        <a href="/login" class="btn btn-outline-success">Войти</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="alert alert-secondary" role="alert">

        </div>
    </footer>
</body>
</html>