{% extends "base.html" %}
{% from "macro.html" import article_card, pagination_widget %}

{% block content %}
    <div class="col-auto">
        {% set page_links_count = 9 %} {# Обязательно нечётное число!!! #}
        {{ pagination_widget(page_index, max_page_index, page_links_count, "/page$i") }}
        {% for article in articles_list %}
            {{ article_card(article) }}
        {% endfor %}
        {{ pagination_widget(page_index, max_page_index, page_links_count, "/page$i") }}
    </div>
{% endblock %}
