{% macro avatar_filename(user) %}
    {% if user.avatar %}
        {{ url_for("static", filename=("img/avatars/" + user.avatar)) }}
    {% else %}
        {{ url_for("static", filename="img/default_avatar.png") }}
    {% endif %}
{% endmacro %}

{% macro article_card(article) %}
    <div class="card col-auto"
         style="margin-top: 5px; margin-bottom: 5px; padding-top: 5px; padding-bottom: 5px;">
        <h4 class="card-title">
            <img src="{{ avatar_filename(article.user) }}" alt="" width="48" height="48">
            <a href="/user_page/{{ article.author }}">@{{ article.user.nickname }}</a>
            {{ article.title }}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Опубликовано {{ article.create_date }}</h6>
        {% if article.image %}
            <img src="{{ url_for('static', filename='img/articles_images/' + article.image) }}"
                 alt="" style="max-width: 40%" class="card-img-top">
        {% endif %}
        <div class="cart-body">
            <p class="card-text preserve-line-breaks">{{ article.content|truncate(255) }}</p>
            <a href="#" class="card-link preserve-line-breaks">Читать далее</a>
        </div>
    </div>
{% endmacro %}
