{% extends "base.html" %}
{% from "widgets.html" import article_card %}

{% block content %}
    {% if user.avatar %}
        {% set filename = url_for("static", filename=("img/avatars/" + user.avatar)) %}
    {% else %}
        {% set filename = url_for("static", filename="img/default_avatar.png") %}
    {% endif %}
    <div class="col-auto">
        <h3>
            <img src="{{ filename }}" alt="" width="48" height="48"> @{{ user.nickname }}
        </h3>
        <p>
            {% if user.description %}
                {{ user.description }}
            {% else %}
                &lt;Описание отсутствует&gt;
            {% endif %}
        </p>
        {% if current_user == user %}
            <a href="/article" class="btn btn-primary">Добавить статью</a>
        {% endif %}
        {% for article in user.articles|sort(attribute="create_date", reverse=true) %}
            {{ article_card(article) }}
        {% else %}
            <hr>
            <p class="col-auto">
                Этот пользователь не опубликовал ни одной статьи
            </p>
        {% endfor %}
    </div>
{% endblock %}
