{% extends "base.html" %}
{% from "macro.html" import article_card, avatar_filename %}

{% block content %}
    <div class="col-auto">
        <h3>
            <img src="{{ avatar_filename(user) }}" alt="" width="48" height="48"> @{{ user.nickname }}
        </h3>
        <p class="preserve-line-breaks">{% if user.description %}{{ user.description }}{% else %}&lt;Описание отсутствует&gt;{% endif %}</p>
        {% if current_user == user %}
            <a href="/article" class="btn btn-primary">Добавить статью</a>
            <a href="/edit_user" class="btn btn-secondary">Редактировать аккаунт</a>
        {% endif %}
        {% for article in user.articles|sort(attribute="create_date", reverse=true) %}
            {{ article_card(article) }}
        {% else %}
            <hr>
            <p class="col-auto">
                Этот пользователь не опубликовал ни одной статьи
            </p>
        {% endfor %}
    </div>
{% endblock %}
